body{
    font-family: 'Poppins', sans-serif;
    margin: -10px;
    padding: 0px;
}
span{
    color: red;
    font-weight: bold;
}
.firstcolumn{
    width: 40%;
    float: left;
    padding: 10px;
    margin: 4em 0em 0em 10em;
    /* background-color: aqua; */
}

.firstcolumn img{
    width: 60%;
    margin: 50px;
    padding-left: 10em;
    /* background-color: antiquewhite; */
}
.btn{
    background-image: linear-gradient(45deg, lightsalmon,tomato);

    text-decoration: none;
    padding: 1px 15px 1px 15px;
    border-radius: 5px;
    font-weight: 300;
    color: white;
}
.btn:hover{
    color: black;
}
.back{
    width: px;
    background-color: aqua;
    height: 0px;
    display: inline;
    float: left;
}
.scolumn{
    width: 40%;
    float: left;
    padding: 10px;
    margin: 5em -8em 0em 10em;
}
.scolumn img{
    width: 60%;
    margin: -20px 50px px 50px;
    /* padding-left: 10em; */
}
